@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
:root {
--main-color: rgb(233 152 152 / 94%);
--text-color: #FFF;
--block-color: #333;
--blockBack-color: #7656568c;
--info-color: #F6F6F6;
--controlBtn-color: #F44336;
}
html {
  font-size: 16px;
  overflow-x: hidden;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
video {
    display: none;
    position: absolute;
    top: 5rem;
    width: 50%;
    height: 50%;
    left: 22rem;
}
.control-buttons {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: var(--main-color);
}
.control-buttons span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--controlBtn-color);
    color: var(--text-color);
    padding: 15px 33px;
    font-size: 30px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}
.control-buttons span i {
    position: absolute;
    top: 23px;
} 
.control-buttons span:hover i {
    transform: rotate(180deg);
}
.info-container {
  width: 1080px;
  margin: 20px auto 0;
  background-color: var(--info-color);
  padding: 20px;
  font-size: 24px;
  overflow: hidden;
  border: 2px solid var(--main-color);
}
.info-container .name {
  float: left;
  width: 50%;
}
.name span {
    color: var(--main-color);
}
.info-container .tries {
  float: right;
  width: 50%;
  text-align: right;
}
.memory-game-blocks {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  margin: 20px auto;
}
.memory-game-blocks.no-clicking {
  pointer-events: none;
}
.memory-game-blocks .game-block {
  height: 200px;
  transition: transform .5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  flex: 1 0 200px;
  margin: 0 10px 20px;
}
.memory-game-blocks .game-block .front {
  background-color: var(--block-color);
  line-height: 200px;
}
.memory-game-blocks .game-block .front:before {
    content: 'play';
    color: var(--text-color);
    font-size: 36px;
    font-weight: bold;
}
.memory-game-blocks .game-block .back {
  background-color: var(--blockBack-color);
  transform: rotateY(180deg);
}
.memory-game-blocks .game-block .back img {
  width: 140px;
  height: 140px;
  margin-top: 30px;
}
.memory-game-blocks .game-block .face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  border: 5px solid var(--main-color);
}
.memory-game-blocks .game-block.is-flipped,
.memory-game-blocks .game-block.has-match {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  pointer-events: none;
}